*.exe
dataset_inpaint/
dataset_yolo/
dataset_refined/
*.zip
lora/
*.h5
*.ini
waifu_inpaint_xl_local/
output_lora/
dataset/
dataset_refined/
output_lora_bar/
output_lora_mosaic/
output_lora_hybrid/
decensor_input/
decensor_input_original/
temp_tiles/
oss
sam2_saved/
input/
sam2_transformers_finetuned/
checkpoints/
*.pt
